@font-face {
	font-family: Digital;  
	src: url('../fonts/digital-7-mono.ttf');  
	font-weight: normal;  
}

body {
	width: 1920px;
	height: 750px;
	background-image: url("../images/background.png");
	background-size: 1920px 1080px;
	background-repeat: no-repeat;
	display: flex;
}

p, div {
	font-family: Verdana;
	text-align: center;
	padding: 0;
	margin: 0;
}

#logo {
	float: left;
	padding: 0px;
	margin-left: -20px;
	margin-top: 10px;
}

#cpanel {
	display: none;
	position: fixed;
	margin-top: 10px;
	margin-right: 10px;
	float: right;
}

input[type=text] {
  	border:0px; 
	padding: 3px;
	background: transparent; 
	color: #fff;
}

input[type=button] {
    padding: 3px; 
    background: transparent; 
	color: #fff;
}

#button_music {
	background-image: url("../images/music.png");
	background-color: transparent;
	background-position: 0px 0px;
	background-repeat:no-repeat;
	background-position: left;
	padding-left: 16px;
}

#button_mute {
	background-image: url("../images/mute.png");
	background-color: transparent;
	background-position: 0px 0px;
	background-repeat:no-repeat;
	background-position: left;
	padding-left: 16px;
}

#timer .countdown-timer {
	font-family: Digital;
	margin-top: 0px;
	border: 0px red solid;
	padding-top: 30px;
	width: 750px;
	color: #F30000;
	font-size: 105px;
	text-align:left;
	margin-left: 450px;
	font-weight: 400;
}

#messages {
	font-size: 36px;
	text-align: center;
	float: right;
	padding-left: 100px;
	padding-right: 50px;
	margin-top: 70px;
	margin-right: 25px;
	margin-left: 50px;
	width: 825px;
	color: #fff;
	background: rgba(54, 25, 25, .9);
}

#winnersdiv {
	display: none;
	background-color: green;
	position: fixed;
	z-index: 0;
	margin-top: -150px;
	clear: both;
	height: 1174px;
	width: 1280px;
}

#winnersdiv .countdown-timer {
	font-family: Digital;
	margin: 600px auto;
	border: 0px #fff solid;
	padding-top: 350px;
	width: 100%;
	color: #fff;
	font-size: 80px;
	text-align:center;
	font-weight: 400;
}


